@import "../node_modules/bootstrap/scss/bootstrap";
@import "toastr";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url('./assets/clouds.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
